@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    font-family: 'Roboto Condensed', sans-serif;
}

.negro-blanco {
    background-color: black;
    color: white;
}

.color-nav {
    background-color: black;
    box-shadow: 0 0 5px 0px rgb(138, 138, 138);
    color: white;
    font-size: 1.5rem;
}

.color-nav a {
    color: white;
}

.card-altura {
    text-align: center;
    display: grid;
    grid-template-rows: 35px 180px auto;
    overflow: auto;
}

.card {
    border: 2px solid rgb(230, 230, 230);
    transition: 0.3s;
}

.card a {
    background-color: black;
    border: 2px solid black;
    transition: 0.3s;
}

.card a:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

i {
    transition: 0.3s;
}

i:hover{
    color: red;
}

.color-nav a { 
    border-bottom: 3px solid transparent;
    color: white;
    transition: 0.1s;
}

#messi {
    position: relative;
}

.texto-arriba {
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    color: black;
    font-size: 4rem;
}

.hover-linea:hover {
    color: white;
    border-bottom: 3px solid white;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #333;
}

.btn-menu{
    background-color: white;
}

.text-flex { 
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-right: 5px;
    margin-left: 5px;
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0
}

.logo {
    max-width: 100px;
    width: auto;
    height: 100%;
}

.footer-contactos {
    text-align: center;
}

.footer-contactos p{
    font-size: 1.5rem;
    color: white;
}

.footer-contactos a{
    display: block;
    color: white;
    text-decoration: none;
}

.footer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: black;
    color: white;
}

.footer img {
    height: 50px;
    margin-bottom: 10px;
    width: auto;
}

#messi p{
    position: relative;
    
}

.welive {
    width: 100px;
    height: 100px;
}