@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.color-nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0px rgb(138, 138, 138);
    color: black;
    font-size: 1.5rem;
}

.color-nav a { 
    border-bottom: 3px solid transparent;
    color: black;
    transition: 0.1s;
}

.color-nav a:hover {
    border-bottom: 3px solid rgb(74, 74, 74);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #333;
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0
}

.logo {
    max-width: 100px;
    width: 100px;
    height: auto;
    margin: 10px 30px;
}

.footer-contactos {
    text-align: center;
}

.footer-contactos p{
    font-size: 1.5rem;
}

.footer-contactos a{
    display: block;
    color: black;
    text-decoration: none;
}

.footer {
    margin-top: 100px;
    padding-bottom: 20px;
}

.footer img {
    height: 50px;
    margin-bottom: 10px;
    width: auto;
}

.welive {
    width: 100px;
    height: 100px;
}